@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
.examples {
  display: flex;
  justify-content: center;
}

.example {
  width: 300px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.example:nth-child(1) {
  background-color: #56b0ad;
}
.example:nth-child(2) {
  background-color: #f0863c;
}
.example:nth-child(3) {
  background-color: #bab9b8;
}

.play {
  width: 120px;
  height: 120px;
  position: relative;
}

.circle-text {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  font-family: "Inter";
  font-size: 12.15px;
}

.circle {
  width: 60px;
  height: 60px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
  border-radius: 50%;
  background-color: #fff;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.3);
}

.play:hover {
  transform: scale(1.1);
}
.play:hover .circle {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.6);
}
.play:hover .circle-text {
  animation-name: rotation;
  animation-duration: 14s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.triangle {
  width: 0;
  height: 0;
  border-left: 16px solid;
  border-top: 8px solid transparent;
  border-bottom: 8px solid transparent;
  position: absolute;
  top: 50%;
  left: 55%;
  transform: translate(-50%, -50%);
}

.loading {
  display: flex;
}

.point {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #888c8c;
  animation-name: increasing;
  animation-duration: 2s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}
.point:not(:first-child) {
  margin-left: 12px;
}
.point:nth-child(2) {
  animation-delay: 666ms;
}
.point:nth-child(3) {
  animation-delay: 1333ms;
}

@keyframes rotation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes increasing {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.3);
    background-color: #3a3b3b;
  }
  50% {
    transform: scale(1);
  }
  100% {
    transform: scale(1);
  }
}
.burger {
  width: 40px;
  height: 30px;
  display: flex;
  flex-direction: column;
}
.burger:hover .burger__line {
  background-color: #0317fc;
}

.burger__line {
  width: 34px;
  height: 6px;
  transform-origin: center left;
  border-radius: 3px;
  background-color: #000000;
}
.burger__line:not(:first-child) {
  margin-top: 6px;
}

.burger__line-animation1 {
  background-color: #0317fc;
  transform-origin: center left;
  animation-name: cross1;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.12s;
}

.burger__line-animation2 {
  background-color: #0317fc;
  animation-name: cross2;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.burger__line-animation3 {
  background-color: #0317fc;
  animation-name: cross3;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
  animation-delay: 0.12s;
}

.burger__line-animation-reverse1 {
  transform: translate(8px, 0px) rotate(45deg);
  animation-name: cross-reverse1;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.burger__line-animation-reverse2 {
  background-color: transparent;
  transform: translateX(50px);
  animation-name: cross-reverse2;
  animation-duration: 0.75s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.burger__line-animation-reverse3 {
  transform: translate(8px, 0px) rotate(-45deg);
  animation-name: cross-reverse3;
  animation-duration: 0.4s;
  animation-timing-function: linear;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes cross1 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(8px, 0px) rotate(45deg);
  }
}
@keyframes cross-reverse1 {
  0% {
    transform: translate(8px, 0px) rotate(45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
@keyframes cross2 {
  0% {
    transform: translateX(0);
  }
  90% {
    transform: translateX(50px);
    background-color: #0317fc;
  }
  100% {
    transform: translateX(50px);
    background-color: transparent;
  }
}
@keyframes cross-reverse2 {
  0% {
    transform: translateX(50px);
    background-color: transparent;
  }
  20% {
    transform: translateX(50px);
    background-color: #0317fc;
  }
  100% {
    transform: translateX(0);
    background-color: #0317fc;
  }
}
@keyframes cross3 {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: translate(8px, 0px) rotate(-45deg);
  }
}
@keyframes cross-reverse3 {
  0% {
    transform: translate(8px, 0px) rotate(-45deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

/*# sourceMappingURL=style.css.map */
