.featured
    height: 38rem
    display: grid
    grid-auto-flow: column
    column-gap: 3.2rem

    background-color: #ffffff
    border-radius: 1.6rem
    box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.15)

.featured__img
    width: 57rem
    height: 38rem

    img
        margin-left: -0.1rem

.featured__info
    width: 53.8rem
    padding: 2.6rem 5rem 3.6rem 0

    &>h2
        margin: 1.6rem 0 2rem 0
        color: #183B56

    &>.item-footer
        margin-top: 4.3rem

        &>.item-footer__user>.item-footer__user-info
            color: $secondary-color


