.search
    padding-top: 13.4rem
    width: 76rem

.search__input
    width: 100%
    height: 5.6rem
    display: block
    margin: 4rem auto 0 auto
    padding-left: 5.2rem
    padding-right: 11rem
    

    font-size: 1.6rem
    font-weight: 600

    color: $search-color
    background-image: url(../img/search/search.svg)
    background-repeat: no-repeat
    background-size: 1.8rem 1.6rem
    background-position: 2rem 2rem
    border-radius: 0.8rem

.search__button   
    position: relative    
    padding: 0.7rem 1.7rem
    top: -4.6rem
    left: 65.9rem

    font-size: 1.6rem
    font-weight: 700

    color: $primary-color
    background-color: #1565D8
    border-radius: 0.8rem
    border: 0.2rem solid $button-color

.search__tags
    position: relative  
    top: -1rem

    span
        margin-right: 1.6rem

        font-size: 1.6rem
        line-height: 2.2rem
        font-weight: 500

        color: $primary-color

    .buttons
        display: inline-block

    button
        padding: 0.6rem 1.7rem
        margin-right: 1.6rem

        font-size: 1.4rem
        line-height: 2rem
        font-weight: 700

        color: $primary-color
        background: rgba(0, 0, 0, 0.2)
        border: 1px solid #FFFFFF
        backdrop-filter: blur(10px)

        border-radius: 0.4rem

@media(min-width: 780px)
    .search__button:hover
        color: $button-color
        background-color: transparent

    .buttons>button:hover
            color: #959EAD
            background: #fff
            backdrop-filter: none
    
        
@media (max-width: 780px) 
    .search
        padding-top: 3rem
        width: 30rem

    .search__input
        width: 30rem
        height: 3.2rem

        margin: 2.4rem auto 0 auto
        padding-left: 2.8rem
        padding-right: 1rem
        
        font-size: 1.4rem

        background-size: 1.6rem 1.4rem
        background-position: 0.6rem 0.8rem
        border: 0.1rem solid $search-color 
        border-radius: 0.8rem

    .search__button   
        display: block
        position: static    
        padding: 0.6rem 1.2rem
        margin: 0.6rem 0 0 auto


        font-size: 1.2rem

        border-radius: 0.6rem
        border: 0.2rem solid $button-color

    .search__tags
        position: static  
        margin-top: 0.6rem

        span
            font-size: 1.4rem
            line-height: 1.4rem

            color: $secondary-color
        
        button
            padding: 0.4rem 1.2rem
            margin: 0.6rem 1rem 0 0

            font-size: 1.2rem
            line-height: 1.8rem


            color: $primary-color
            background: rgba(0, 0, 0, 0.2)
            border: 1px solid #FFFFFF
            backdrop-filter: blur(10px)

            border-radius: 0.4rem

            &:hover
                color: #959EAD
                background: #fff
                backdrop-filter: none