@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-LightBETA.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Inter";
  src: url("../fonts/inter/Inter-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Regular.woff2") format("woff2");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Light.woff2") format("woff2");
  font-style: normal;
  font-weight: 300;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Medium.woff2") format("woff2");
  font-style: normal;
  font-weight: 500;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-SemiBold.woff2") format("woff2");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Bold.woff2") format("woff2");
  font-style: normal;
  font-weight: 700;
}
@font-face {
  font-family: "Poppins";
  src: url("../fonts/poppins/Poppins-Black.woff2") format("woff2");
  font-style: normal;
  font-weight: 900;
}
* {
  box-sizing: border-box;
  margin: 0;
}

html {
  font-size: 10px;
}

body {
  font-family: "Inter", sans-serif;
  font-weight: 400;
  line-height: normal;
  color: #ffffff;
}

section {
  display: block;
  width: 144rem;
  margin-left: auto;
  margin-right: auto;
  background-color: #2E2828;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: #ffffff;
}

input, button {
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1440px) {
  html {
    font-size: 0.6944444444vw;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 3.125vw;
  }
  section {
    width: 32rem;
    margin-right: auto;
    margin-left: auto;
    padding-right: 1rem;
    padding-left: 1rem;
  }
}
.header {
  padding-top: 2.8rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header__logo {
  margin-left: 1.8rem;
  width: 15.4rem;
  height: 6.4rem;
}

.header__search {
  width: 45rem;
  height: 4rem;
  padding-left: 7.4rem;
  padding-right: 1rem;
  font-family: Poppins;
  font-size: 1.6rem;
  color: #FEF4F4;
  border: 0.1rem solid #F65151;
  border-radius: 1.2rem;
  background: url("../img/header/search.svg");
  background-repeat: no-repeat;
  background-size: 2.8rem 2.4rem;
  background-position: 2.8rem center;
}

.header__nav {
  margin-right: 5rem;
  margin-top: -0.2rem;
}

.header__link {
  box-sizing: border-box;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
  margin-top: -0.5rem;
  font-size: 2rem;
  font-weight: 600;
  text-transform: uppercase;
}
.header__link:hover {
  color: #F65151;
  border-bottom: 0.3rem solid #F65151;
  margin-top: -0.3rem;
}
.header__link:not(:last-child) {
  margin-right: 0.6rem;
}

@media (max-width: 780px) {
  .header {
    padding-top: 1.4rem;
    justify-content: space-between;
    align-items: start;
    flex-direction: column;
  }
  .header__logo {
    margin-left: 0;
    width: 14rem;
    height: 6rem;
  }
  .header__search {
    width: 100%;
    height: 3.6rem;
    padding-left: 4.6rem;
    padding-right: 1rem;
    margin-top: 1.4rem;
    font-family: Poppins;
    font-size: 1.4rem;
    color: #FEF4F4;
    border: 0.1rem solid #F65151;
    border-radius: 1.2rem;
    background: url("../img/header/search.svg");
    background-repeat: no-repeat;
    background-size: 2.6rem 2.2rem;
    background-position: 1rem center;
  }
  .header__nav {
    display: none;
  }
}
.hero {
  position: relative;
  display: flex;
}

.hero__background {
  position: absolute;
  top: 5.5rem;
  left: 16rem;
  font-size: 20rem;
  line-height: 23.7rem;
  font-weight: 700;
  color: rgba(254, 244, 244, 0.05);
}

.hero__content {
  position: relative;
  padding: 15.4rem 7rem 12.8rem 7rem;
  z-index: 1;
  display: flex;
}

.hero__description {
  width: 59rem;
  display: flex;
  flex-direction: column;
}
.hero__description > h1 {
  margin: 0;
  font-size: 7rem;
  font-weight: 800;
  line-height: 10rem;
  color: #F65151;
}
.hero__description > h1 > span {
  color: #ffffff;
}
.hero__description > span {
  margin-top: 3.5rem;
  max-width: 48.4rem;
  font-size: 3.4rem;
  font-weight: 600;
}

.hero__description-button {
  width: 30.7rem;
  display: flex;
  margin-top: 4rem;
  padding: 1.7rem 3.7rem;
  align-items: center;
  background-color: #F65151;
  border-radius: 2.5rem;
  border: 0.3rem solid #F65151;
}
.hero__description-button > span {
  margin-right: 2rem;
  font-size: 3rem;
  font-weight: 700;
  text-transform: uppercase;
}
.hero__description-button > img {
  width: 6rem;
  height: 6rem;
}
.hero__description-button > img:nth-of-type(1) {
  display: none;
}

@media (min-width: 780px) {
  .hero__description-button:hover {
    background-color: transparent;
    color: #F65151;
  }
  .hero__description-button:hover > img:nth-of-type(1) {
    display: block;
  }
  .hero__description-button:hover > img:nth-of-type(2) {
    display: none;
  }
}
.hero__image {
  width: 68.6rem;
  display: flex;
}

.hero__image-shoe {
  margin-top: -4.5rem;
  width: 58.5rem;
}

.hero__image-colors {
  position: relative;
  top: -7rem;
  left: 2.5rem;
  width: 8rem;
}

.hero__social-networks {
  width: 2.4rem;
  position: relative;
  top: 17.1rem;
  left: -0.6rem;
}

/*# sourceMappingURL=style.css.map */
