@font-face {
  font-family: "Gotham";
  src: url("../fonts/GothamMedium.otf") format("truetype");
  font-style: normal;
  font-weight: 400;
}
@font-face {
  font-family: "Gotham";
  src: url("../fonts/Gotham-Bold.otf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "Open Sans";
  src: url("../fonts/OpenSans-VariableFont_wdth,wght.ttf") format("truetype");
  font-style: normal;
}
* {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

body {
  font-family: "Open Sans", sans-serif;
  font-weight: 400;
}

.background-top {
  width: 144rem;
  position: absolute;
  z-index: -1;
  left: 50%;
  transform: translate(-50%, 0);
}

section {
  display: block;
  width: 114rem;
  margin-left: auto;
  margin-right: auto;
}

img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

a {
  text-decoration: none;
  color: #ffffff;
}

h1 {
  margin: 0;
  font-family: "Gotham", sans-serif;
  font-size: 4.8rem;
  line-height: 6rem;
  text-align: center;
  letter-spacing: 0.02rem;
  font-weight: 600;
  color: #ffffff;
}

h2 {
  font-family: "Gotham", sans-serif;
  font-size: 3.6rem;
  font-weight: 700;
  line-height: 4.8rem;
  letter-spacing: 0.02rem;
}

h3 {
  font-family: "Gotham", sans-serif;
}

h4 {
  font-family: "Gotham", sans-serif;
}

input, button {
  border: none;
  outline: none;
  cursor: pointer;
}

@media (max-width: 1440px) {
  html {
    font-size: 0, 6944444444444444vw;
  }
}
@media (max-width: 780px) {
  html {
    font-size: 3.125vw;
  }
  section {
    width: 30rem;
    margin-right: auto;
    margin-left: auto;
  }
  .background-top {
    width: 100%;
  }
}
.header {
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
  padding-top: 2.6rem;
}

.header__logo {
  width: 9rem;
}

.header__navigation {
  display: grid;
  grid-auto-flow: column;
  align-items: center;
}

.header__link {
  margin-right: 4rem;
  font-weight: 600;
  font-size: 1.6rem;
  line-height: 2.2rem;
}

.header__button {
  padding: 1.3rem 2.4rem;
  font-family: "Open Sans";
  font-weight: 700;
  font-size: 1.6rem;
  line-height: 2.2rem;
  background: none;
  color: #ffffff;
  border: 0.2rem solid #ffffff;
  border-radius: 0.8rem;
}
.header__button:hover {
  color: #959EAD;
  background: #fff;
}

.search {
  padding-top: 13.4rem;
  width: 76rem;
}

.search__input {
  width: 100%;
  height: 5.6rem;
  display: block;
  margin: 4rem auto 0 auto;
  padding-left: 5.2rem;
  padding-right: 11rem;
  font-size: 1.6rem;
  font-weight: 600;
  color: #959EAD;
  background-image: url(../img/search/search.svg);
  background-repeat: no-repeat;
  background-size: 1.8rem 1.6rem;
  background-position: 2rem 2rem;
  border-radius: 0.8rem;
}

.search__button {
  position: relative;
  padding: 0.9rem 2rem;
  top: -4.6rem;
  left: 65.9rem;
  font-size: 1.6rem;
  font-weight: 700;
  color: #ffffff;
  background-color: #1565D8;
  border-radius: 0.8rem;
}

.search__tags {
  position: relative;
  top: -1rem;
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.6rem;
  justify-content: start;
  align-items: center;
}
.search__tags span {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 500;
  color: #ffffff;
}
.search__tags button {
  padding: 0.6rem 1.7rem;
  font-size: 1.4rem;
  line-height: 2rem;
  font-weight: 700;
  color: #ffffff;
  background: rgba(0, 0, 0, 0.2);
  border: 1px solid #FFFFFF;
  backdrop-filter: blur(10px);
  border-radius: 0.4rem;
}
.search__tags button:hover {
  color: #959EAD;
  background: #fff;
  backdrop-filter: none;
}

.featured {
  height: 38rem;
  display: grid;
  grid-auto-flow: column;
  column-gap: 3.2rem;
  background-color: #ffffff;
  border-radius: 1.6rem;
  box-shadow: 1rem 1rem 1rem rgba(0, 0, 0, 0.2);
}

.featured__img {
  width: 57rem;
  height: 38rem;
}
.featured__img img {
  margin-left: -0.1rem;
}

.featured__info {
  width: 53.8rem;
  padding: 2.6rem 5rem 3.6rem 0;
}
.featured__info > h2 {
  color: #183B56;
}
.featured__info > span {
  font-size: 1.8rem;
  line-height: 3.2rem;
  color: #5A7184;
}
.featured__info > .item-footer {
  margin-top: 4.3rem;
}

.featured__label {
  display: inline-block;
  padding: 0.5rem 1rem;
  font-size: 1.6rem;
  font-weight: 900;
  color: #1565D8;
  background-color: rgba(54, 179, 126, 0.15);
  border-radius: 1.8rem;
}

.item-footer {
  height: 4.5rem;
  display: grid;
  grid-auto-flow: column;
  justify-content: space-between;
  align-items: center;
}

.item-footer__user {
  display: grid;
  grid-auto-flow: column;
  column-gap: 1.2rem;
}

.item-footer__avatar {
  width: 4rem;
  height: 4rem;
}

.item-footer__user-info {
  display: grid;
}

.item-footer__user-name {
  font-size: 1.6rem;
  line-height: 2.2rem;
  font-weight: 600;
  color: #183B56;
}

.item-footer__user-verification {
  margin-top: 0.4rem;
  line-height: 1.9rem;
}
.item-footer__user-verification > img {
  width: 1.2rem;
  height: 1.2rem;
  margin-right: 0.8rem;
}

.item-footer__date {
  font-size: 1.6rem;
  font-weight: 600;
  color: #5A7184;
}

/*# sourceMappingURL=style.css.map */
